.MailCategoryButton {
  width: fit-content;
  margin-right: auto;
  background: none;
  padding: 10px;
  padding-right: 40%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#activeCategory {
  background: rgb(252, 232, 230);
  color: rgb(215, 50, 45);
  font-weight: bold;
}

.Category {
  text-transform: capitalize;
}

.MailCategoryButton:hover {
  background-color: #f4f3f1;
}